{% extends 'CustomerHuntSiteBundle::layout.html.twig' %}

{% block title %}Новая обработка формы{% endblock %}

{% block navigation %}
    {% set project = view.project %}
    {% set page = view.page %}
    <li>
        <a href="{{ url('site_projects') }}">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp; Проекты
        </a>
    </li>
    <li>
        <a href="{{ url('site_projects_project', {'project': project.id}) }}">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;
            {% if project.caption|length > 27 %}{{ project.caption|e[:27] }}...{% else %}{{ project.caption|e }}{% endif %}
        </a>
    </li>
    <li>
        <a href="{{ url('site_pages', {'project': project.id}) }}">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Страницы
        </a>
    </li>
    <li>
        <a href="{{ url('site_pages_page', {'project': project.id, 'page': page.id}) }}">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            {% if page.caption|length > 27 %}{{ page.caption|e[:27] }}...{% else %}{{ page.caption|e }}{% endif %}
        </a>
    </li>
    <li class="active">
        <a><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Новая обработка формы</a>
    </li>
{% endblock %}

{% block content %}
    {% set project = view.project %}
    {% set page = view.page %}
    <div class="page">
        <div class="page-header"><h1>Новая обработка формы</h1></div>
        {% set form = forms.form %}
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
            {% set errors = form.caption.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.caption, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.caption.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.caption, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            {% set errors = form.description.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.description.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            {% set errors = form.selector.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.selector, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.selector.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.selector, {'attr': {'class': 'form-control'}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            {% set prototype = form.fields.vars.prototype %}
            {% set prototype_source = '<div class="row"><div class="col-xs-6 col-sm-6 col-md-6 form-inline">' ~
                form_label(prototype.caption) ~ form_widget(prototype.caption, {'attr': {'class': 'form-control'}}) ~
                '</div><div class="col-xs-6 col-sm-6 col-md-6 form-inline">' ~
                form_label(prototype.name) ~ form_widget(prototype.name, {'attr': {'class': 'form-control'}}) ~
                '</div></div>' %}
            <div id="fields" data-prototype="{{ prototype_source|e }}">
                {{ form_label(form.fields) }}
                {% for field in form.fields %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 form-inline">
                                {{ form_label(field.caption) }}
                                {{ form_widget(field.caption, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 form-inline">
                                {{ form_label(field.name) }}
                                {{ form_widget(field.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <span class="help-block">
                <a href="javascript:void(0);" id="add-field">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Добавить еще один параметр
                </a>
            </span>
            {% set errors = form.successRedirect.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.successRedirect, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.successRedirect.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.successRedirect, {'attr': {'class': 'form-control'}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            {% set errors = form.errorRedirect.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.errorRedirect, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.errorRedirect.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.errorRedirect, {'attr': {'class': 'form-control'}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            {% set errors = form.emailRecipients.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.emailRecipients, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.emailRecipients.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.emailRecipients, {'attr': {'class': 'form-control'}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            {% set errors = form.emailTemplate.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.emailTemplate, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.emailTemplate.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.emailTemplate, {'attr': {'class': 'form-control'}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
                <span class="help-block">
                    Чтобы вставить значение параметра формы, напишите <code>%&lt;атрибут NAME параметра&gt;%</code>.<br>
                    <code>%hunter_query%</code> &mdash; GET-параметры.
                </span>
            </div>
            <hr>
            <em>Знаком <span class="text-danger">*</span> отмечены поля, обязательные для заполнения</em>
            <hr>
            <a href="{{ url('site_pages_page', {'project': project.id, 'page': page.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад
            </a>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Добавить новую обработку формы
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block body_additions %}
    {% set form = forms.form %}
    <script>
        $(document).ready(function() {
            var fields_count = {{ form.fields|length }};
            $('#add-field').click(function() {
                var fields = $('#fields');
                $('<div class="form-group"></div>').html(
                        fields.attr('data-prototype').replace(/__name__/g, fields_count)
                ).appendTo(fields);
                fields_count++;
            });
        });
    </script>
{% endblock %}