{% extends 'CustomerHuntSiteBundle::layout.html.twig' %}

{% block title %}Тестовые страницы{% endblock %}

{% block head_additions %}
    <style>
        .td-actions { width: 60px; }
        .actions { display: none; }
    </style>
{% endblock %}

{% block navigation %}
    {% set project = view.project %}
    <li>
        <a href="{{ url('site_projects') }}">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp; Проекты
        </a>
    </li>
    <li>
        <a href="{{ url('site_projects_project', {'project': project.id}) }}">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;
            {% if project.caption|length > 27 %}{{ project.caption|e[:27] }}...{% else %}{{ project.caption|e }}{% endif %}
        </a>
    </li>
    <li class="active">
        <a><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Тестовые страницы</a>
    </li>
{% endblock %}

{% block content %}
    {% set project = view.project %}
    <div class="page">
        <div class="page-header">
            <h1>
                <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Тестовые страницы
            </h1>
        </div>
        <table class="table table-striped pages">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Ссылка</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for page in view.pages %}
                <tr>
                    <td>
                        <a href="{{ url('site_test_pages_edit', {'project': project.id, 'page': page.id}) }}">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ page.caption|e }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('site_test_pages_page', {'project': project.id, 'alias': page.alias|e}) }}" target="_blank">
                            {{ url('site_test_pages_page', {'project': project.id, 'alias': page.alias|e}) }}
                        </a>
                    </td>
                    <td class="text-muted">{% if page.description is not empty %}{{ page.description|e }}{% else %}&mdash;{% endif %}</td>
                    <td class="td-actions">
                        <div class="actions">
                            <a href="{{ url('site_test_pages_edit', {'project': project.id, 'page': page.id}) }}" title="Изменить">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="{{ url('site_test_pages_remove', {'project': project.id, 'page': page.id}) }}" title="Удалить">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="info text-center">Вы не добавили ни одной тестовой страницы</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('site_projects_project', {'project': project.id}) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад
        </a>
        <a href="{{ url('site_test_pages_add', {'project': project.id}) }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить тестовую страницу
        </a>
    </div>
{% endblock %}

{% block body_additions %}
    <script>
        $(document).ready(function() {
            $('.pages tr').hover(function() {
                $(this).find('.actions').fadeIn(250);
            }, function() {
                $(this).find('.actions').fadeOut(250);
            });
        });
    </script>
{% endblock %}