{% extends 'CustomerHuntSiteBundle::layout.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block head_additions %}
    <style>
        .td-actions { width: 60px; }
        .actions { display: none; }
    </style>
{% endblock %}

{% block navigation %}
    <li class="active">
        <a>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Пользователи
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="page">
        <div class="page-header"><h1>Пользователи</h1></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Роли</th>
                <th>Проектов</th>
            </tr>
            </thead>
            <tbody>
            {% for user in view.users %}
                <tr>
                    <td>
                        <a href="{{ url('site_users_edit', {'user': user.id}) }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username|e }}
                        </a>
                    </td>
                    <td>
                        {% set roles = [] %}
                        {% for role in user.roles %}
                            {% if role.role == 'ROLE_ADMIN' %}{% set roles = roles|merge([role.caption|e]) %}
                            {% elseif role.role == 'ROLE_USER' %}{% set roles = roles|merge([role.caption|e]) %}
                            {% endif %}
                        {% endfor %}
                        {{ roles|join(', ') }}
                    </td>
                    <td>{{ user.projects|length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('site_users_add') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить пользователя
        </a>
    </div>
{% endblock %}