<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Page{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="const-se.ru">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {% stylesheets 'bundles/customerhuntsite/css/normalize.css'
            'bundles/customerhuntsite/css/bootstrap.min.css'
            'bundles/customerhuntsite/css/bootstrap-theme.min.css'
            'bundles/customerhuntsite/css/layout.css'
            filter = 'cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts '@CustomerHuntSiteBundle/Resources/public/js/jquery-1.11.2.min.js'
            '@CustomerHuntSiteBundle/Resources/public/js/bootstrap.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block head_additions %}{% endblock %}
</head>
<body>
    {% block header %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{{ url('site_general_index') }}" class="navbar-brand">Customer Hunt</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% block navigation %}{% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li{% if app.request.get('_route') == 'site_security_profile' %} class="active"{% endif %}>
                            <a href="{{ url('site_security_profile') }}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ app.user.username|e }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('site_security_logout') }}">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Выход
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% include 'CustomerHuntSiteBundle::notices.html.twig' %}
    {% block body_additions %}{% endblock %}
</body>
</html>