{% extends 'CustomerHuntSiteBundle::layout.html.twig' %}

{% block title %}Проекты{% endblock %}

{% block navigation %}
    <li class="active">
        <a href="{{ url('site_projects_index') }}">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp; Проекты
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="page">
        <div class="page-header"><h1>Мои проекты</h1></div>
        <table class="table table-striped">
            <thead>
                <th>Проект</th>
                <th>Страниц</th>
                <th>Описание</th>
            </thead>
            <tbody>
                {% for project in view.projects %}
                    <tr>
                        <td>
                            <a href="{{ url('site_projects_project', {'project': project.id}) }}">
                                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp; {{ project.caption|e }}
                            </a>
                        </td>
                        <td>{{ project.pages|length }}</td>
                        <td class="text-muted">{{ project.description|e }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="info text-center">Вы не добавили ни одного проекта</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('site_projects_add') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить проект
        </a>
    </div>
{% endblock %}